@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Spectral&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background: url("https://unsplash.com/photos/kVKz9qnJC-k/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MTB8fHNub3d8ZW58MHx8fHwxNjUzMTM5MTk2&force=true&w=2400");
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 4rem;
  margin-top: 4rem;
}
.countdown-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20rem;
}
.bigText {
  font-size: 8rem;
  font-weight: bold;
}
.counter-el {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spanElement {
  font-size: 1.1rem;
  font-weight: lighter;
}
